body, html {
  font-family: 'Encode Sans Condensed', sans-serif;
}
h1{
  font-size: 25px;
}

@font-face { font-family: ScoreBoard; src: url('../vendors/SCOREBOARD.TTF'); } 

/*======color pallette==========*/

.colorPallete{
  width:50px;
  height:50px;
  border-radius: 5px;
  border: 1px;
  border-color: #13293D;
  overflow:hidden;
}
#color1{ 
  background-color: #3E92CC;
}
#color2{ 
  background-color: #096B72;
}
#color3{ 
  background-color: #E0E0E0;
}
#color4{ 
  background-color: #1D4977;
}
#color5{ 
  background-color: #13293D;
}
/*===========end pallette===========*/

.opponenets{
  margin:10px;
}
/*============ Header Styling ================*/
.headerContainer
{
  /* position:fixed; */
  background-color: #E0E0E0;

  padding-left:10px;
  box-shadow: 0 8px 6px -6px black;
}
.topHeader
{
  background-color: #E0E0E0;
  position: relative;
  
  color:#13293D;
  padding-left:10px;
  box-shadow: 0 8px 6px -6px black;
}

.lead{
  background-image: -webkit-linear-gradient(#3E92CC,#1D4977);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
}
.gavel{
  float:right;
  margin:0;
  color:#E0E0E0;
  
}
.iconButton{
  height: 24px;
  width: 24px;
  padding-right: 0px;
}
.gavelAlert{
  float:right;
  margin:0;
  color:magenta;
}



/*===========end header styling ==============*/


/*============= Nav bar styling==============*/
.navbar {
  background-color: #13293D;
  width: 100%;
  border-radius: 0px;
  box-shadow:         inset 0 0 10px #000000;
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.liHeader{
  float: left;
}

li a{
  display: block;
  color: #E0E0E0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: black;
}
/*==========  end of nav bar styling========*/

/*======= User view styling ========*/

#welcome{
  font-size: 40px;
  margin: 10px 0;
}
.userContainer{
  margin:10px 5px 15px 20px;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.userGameList{
  color: #3E92CC;
}

.userInfo{
  font-size: 20px;

}

.gamesHeading{
  font-size: 18px;
  text-decoration: underline;

}
.userInfo{
  padding:2px;
  margin:2px;
  font-family: 'Encode Sans Condensed', sans-serif;
}

/* Change the link color to #111 (black) on hover */

/*=======New Game view styling========*/
.newGameContainer{
  margin:10px 5px 15px 20px;
  width:100%;  
}
.gameTable{
  width:100vw;
  font-size:20px;
}

.newGameButton{
  font-family: 'Encode Sans Condensed';
  margin: 10px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #E0E0E0;
  font-size: 20px;
  background: #1D4977;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.newGameButton:hover{
  background: #3E92CC;
  text-decoration: none;
}
.logOut{
  font-family: 'Encode Sans Condensed';
  margin: 10px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #E0E0E0;
  font-size: 20px;
  background: #1D4977;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 125px;
  height:40px;
}

.logOut:hover{
  background: #3E92CC;
  text-decoration: none;
}

#descriptionInput{
  height: 150px;
  width:200px;
}

#gameDiv{
  padding: 15px;
  width:350px;
}
/*============== Game view styling =============*/
#nameScoreBoard{
  padding:10px;
}
.opponentNames{
  text-transform: uppercase;
  margin:0px;
  color:#13293D;
}
.opponentScores{
  font-family: ScoreBoard;
  font-size:100px;
  color: #1D4977;
}
.scoreboardText{
  background-image: -webkit-linear-gradient(#3E92CC,#1D4977);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-family: 'Permanent Marker', cursive;
  font-size: 55px;
}
.opponents{
  border-radius: 25px;
}
#descriptionInput{
  border-radius: 3px;
  border-color: lightgrey;
}
.submitButton{
  margin: 10px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #E0E0E0;
  font-size: 20px;
  background: #1D4977;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Encode Sans Condensed';
  
}
.submitButton:hover{
  background: #3E92CC;
  text-decoration: none;
}