<div class="navbar">
  <div class="container">
    <div layout='row'layout-align='space-between center'>
      <ul class="header">
        <li class="liHeader"><a href="#/login">Login</a></li>
        <li class="liHeader"><a href="#/user">User Home</a></li>
        <li class="liHeader"><a href="#/newgame">New Game</a></li>
        <li class="liHeader"><a href="#/info">About Page</a></li>
      </ul>
      <a href = '#/review'><md-icon class="material-icons gavel">gavel</md-icon></a>
    </div>

  </div>
</div>
<!-- <md-button class='iconButton'> -->