<div ng-include="'views/partials/nav.html'"></div>
<h1>Game Page</h1>
<div id='nameScoreBoard' layout='row' layout-align='space-between-center'>
    <div class='opponents' flex layout='column'>
        <h1>{{gc.displayGame.list[0].user1}}</h1>
        <h2>{{gc.displayGame.list[0].user1score}}</h2>
    </div>
    <div id='gameInputs' layout='column'>
        <input id='descriptionInput' type='text' placeholder='Debate description' ng-model='gc.debateInformation.description'>
        <select ng-model='gc.debateInformation.winner'>
            <option ng-repeat='player in gc.selectWinner.list' value='{{player}}'>{{player}}</option></select>
        <button ng-click='gc.submitDebate(gc.debateInformation)'>Submit</button> {{gc.debateInformation}}{{gc.selectWinner}}
    </div>
    <div class='opponents' flex layout='column' layout-align='end end'>
        <h1>{{gc.displayGame.list[0].user2}}</h1>
        <h2>{{gc.displayGame.list[0].user2score}}</h2>
    </div>


</div>