<div ng-include="'views/partials/nav.html'"></div>

<div>
  <p class='aboutP'>
    DebateMe is a full stack web application designed to allow users to keep track of light hearted personal debates. The following
    techonologies were used in the development of the project.
  </p>
  <div>
    <ul>
      <li class='aboutLi'>MongoDB</li>
      <li class='aboutLi'>Espress</li>
      <li class='aboutLi'>Angular</li>
      <li class='aboutLi'>Node.js</li>
      <li class='aboutLi'>Balsalmiq</li>
      <li class='aboutLi'>Angular Material</li>
      <li class='aboutLi'>Material Design Lite</li>
      <li class='aboutLi'>Git</li>
      <li class='aboutLi'>Github</li>
    </ul>
  </div>
</div>