<div ng-include="'views/partials/nav.html'"></div>
<div>
  <p>
    DebateMe is a full stack web application designed to allow users to keep track of light hearted personal debates. The following
    techonologies were used in the development of the project.
  </p>
  <div>
    <ul>
      <li>MongoDB</li>
      <li>Espress</li>
      <li>Angular</li>
      <li>Node.js</li>
      <li>Balsalmiq</li>
      <li>Angular Material</li>
      <li>Material Design Lite</li>
      <li>Heroku(if deployed)</li>
      <li>Git</li>
      <li>Github</li>
    </ul>
  </div>
</div>