<div ng-include="'views/partials/nav.html'"></div>
<div class="newGameContainer">
    <h1 class="lead">Leaderboard</h1>
    <div class='leaderboardDisplay mat-elevation-z8'>
        <table class="gameTable mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class='tableHead'>User Name </th>
                    <th class='tableHead'>Total Wins</th>
                    <th class='tableHead'>Win Percentage</th>
            </thead>
            <tbody>
                <tr ng-repeat="user in lc.allUsers.list | orderBy: '-totalWins'" grid-item>
                    <td>{{user.username}}</td>
                    <td>{{user.totalWins}}</td>
                    <td>{{user.winPercentage | number: 0}}%</td>
            </tbody>
        </table>
        <button class="logOut" ng-click="ngc.userService.logout()">Log Out</button>
    </div>